* {
  box-sizing: border-box;
  cursor: url("lol.png"), auto;
}

img { max-width: 100%; }

html, body{
margin: 0;
background-image: url("https://vignette.wikia.nocookie.net/leagueoflegends/images/5/54/Freljord_LND_concept_01.jpg/revision/latest?cb=20171103192331");
}

#all{
width: 100%;
background-image: url("https://i.imgur.com/6tOh4bJ.jpg");
}

#top{
background-color: #210B61;
text-align: center;
width: 100%;
float: right;
font-weight: bold;
}

#img-logo img{

  float: left;
  margin: 0.2em;
  width: 180px;
  margin-left: 15px;
}


/* CLEARFIX */
#menu-links:after {
  content: "";
  display: table;
  clear: both;
}

.menu-link {

}



#Riot{
  float: right;
  margin-right: 3em;
  margin-top: 0.9em;
  padding: 10px;
  font-size: 20px;
}

#Support {
  float: right;
  margin-right: 2em;
  margin-top: 0.9em;
  padding: 10px;
  font-size: 20px;
}

#Download {
  float: right;
  margin-top: 0.9em;
  margin-right: 2em;
  padding: 10px;
  font-size: 20px;
}

#Inicio {
  float: right;
  margin-top: 0.9em;
  margin-right: 2em;
  padding: 10px;
  font-size: 20px;
}

#buscador {
  float: right;
  margin-top: 0.9em;
  margin-right: 2em;
  padding: 10px;
}

#middle {
  border: black medium solid;
  float: right;
  text-align: center;
  width: 100%;
  background-color: #29088A;
  margin-top: 4px;
}



#left-column {
  float: left;
  width: 24.5%;
  background-color: black;
  text-align: center;
  padding: 1.5px;
  font-size: 29.5px;
}

.left-tickets {
  margin-top: 5px;
  border: thin solid black;
  padding: 5px;
  background-color: #084B8A;

}


.left {
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   border-radius: 3px;
   border-color: #084B8A;
   padding: 9px 100px;
   color: black;
   background-color: #084B8A;

}

.left:hover {
   background-color: #58FAF4;
   color: #084B8A;
}

#right{
  width: 457.7px;
  float: right;
  border: thick solid black;
  background-color: white;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
color: black;
}

#titulo-freljord{
  font-style: verdana;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #3104B4;
  margin-left: 100px;
  margin-top: -10px;
}

#titulo-logo-freljord {
  float: right;
  font-style: verdana;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-right: 80px;
  color: #00BFFF;
}

#logo-freljord{

  float: right;
  width: 350px;
}

#textoo {
  text-align: center;
  font-size: 20px;
}

#content-freljord{
  background-image: url(https://static.lolwallpapers.net/2016/07/577a36d871fe1.jpg);
  margin-top: -100px;
}

#titulo-shurima{
  font-style: verdana;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #DBA901;
  margin-left: 100px;
  margin-top: -10px;
}

#content-shurima{
  background-image: url(http://www.lol-wallpapers.com/wp-content/uploads/2016/12/Shurima-Reborn.jpg);
  margin-top: -100px;
}

#titulo-logo-shurima {
  float: right;
  font-style: verdana;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-right: 80px;
  color: #DBA901;
}

#logo-shurima{
  width: 350px;
  float: right;
}

#logo-elvacio{
  width: 350px;
  float: right;
}

#titulo-elvacio{
  font-style: verdana;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #642EFE;
  margin-left: 100px;
  margin-top: -10px;
}

#titulo-logo-elvacio {
  float: right;
  font-style: verdana;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-right: 80px;
  color: #642EFE;
}

#textoo{
    margin: 20px;
}

#content-elvacio{
  background-image: url(https://vignette2.wikia.nocookie.net/leagueoflegends/images/e/ec/Void_Icathia.png);
  margin-top: -100px;
}

#lcs-eu {
  width: 264.555px;
  float: left;
  margin-left: 80px;
  padding: 10px;
  margin-top: 10px;
  margin-bot: 20px;
}

#lck {
  width: 263.555px;
  float: left;
  margin-left: 90px;
  padding: 10px;
margin-top: 10px;
  margin-bot: 20px;
}

hr {
  float: left;
  width: 447px;
  color: black;
  margin-left: 1px;
}

#footer {
  width: 100%;
  background-color: #003D5D;
  margin-top: -5.33px;
  border: medium solid black;
  float: left;
}

#logo-footer {
  width: 150px;
  margin-left: 20px;
  float: left;
}

#legal-advice{
  text-align: center;
  float: left;
  margin-left: 500px;
  margin-top: 110px;
}








#wrapper-champions {
  overflow: hidden;
  width: 85%;
  background-image: url(https://i.pinimg.com/originals/bc/a6/86/bca68618c155a1728c2205f499d0f608.png);
  margin: 0 auto;
  text-align: center;

  margin-top: 55px;
  border: medium solid black;
}

#wrapper2 {
  overflow: hidden;
  width: 99%;

  background-color: #D8D8D8;

  margin-top: 15px;
  border-radius: medium solid black;
}

.champ{
  text-align: center;
  float: left;
  padding: 21px;
}


.img-champ{
  width: 150px;
  float: left;

}

.name-champ{
  text-align: center;
  margin-left: 39.333px;
  float: left;

}

.lenteja {
  text-align: center;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	 .champ, .img-champ, .name-champ, {
    width: 50%;
    text-align: center;
    padding: 0;
  }


  #wrapper-Champions{
    width: 100%;
    overflow: hidden;
    float: left;
    margin-left: 100px;

  }
  #wrapper2{
    width: 100%;
    overflow: hidden;
    text-align: center;

  }

}
