* { box-sizing: border-box; }

img { max-width: 100%; }

.item {
  float: right;
   border: thin solid black;
   width: 25%;
   text-align: center;
   font-size: 34px;
   background-color: #003D5D;
   font-weight: bold;

}


/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;

}

.subitem {
  border: black medium solid;
  background-color: #0489B1;

}

.submenu {
  display: none;
  font-weight: 1px;
  border: thin solid black;
}


.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	 .item, .subitem, .submenu, .subitem a, #menu {
    width: 100%;
    float: left;
  }
    #buscador{
      float: left;
      width: 100%;
      text-align: center;
    }

    #Riot{
      float: left;
      width: 100%;
      text-align: center;
    }

    #Support{
      float: left;
      width: 100%;
      text-align: center;
    }

    #Download{
      float: left;
      width: 100%;
      text-align: center;
    }

    #Inicio{
      float: left;
      width: 100%;
      text-align: center;
    }

}
