<div id="top">
  <div id="img-logo">
    <img src="http://www.wtfgamersonly.com/wp-content/uploads/2014/07/riot.png"/>
  </div>

  <div id="menu-top">
    <div id="menu-links">
      <div class="menu-link" id="buscador">
        <div class="flexsearch">
          <div class="flexsearch--wrapper">
            <form class="flexsearch--form" action="#" method="post">
              <div class="flexsearch--input-wrapper">
                <input class="flexsearch--input" type="search" placeholder="search">
              </div>
              <input class="flexsearch--submit" type="submit" value="&#10140;"/>
            </form>
          </div>
        </div>
      </div>
    <div class="menu-link" id="Riot">
      <a href="https://www.riotgames.com/en" target="_blank">
        Riot Games
      </a>
    </div>
    <div class="menu-link" id="Support">
    <a href="https://support.riotgames.com/hc/en-us" target="_blank">
      Riot Support
    </a>
  </div>
    <div class="menu-link" id="Download">
    <a href="https://signup.euw.leagueoflegends.com/en/signup/redownload" target="_blank">
      Download
    </a>
  </div>

    <div class="menu-link" id="Inicio">
    <a href="index.html">
      Inicio
    </a>
  </div>

  </div>
</div>

  <div id="middle">
   <img id="img-middle" src="https://upload.wikimedia.org/wikipedia/en/7/77/League_of_Legends_logo.png"/>
 </div>
</div>
